* {
  margin: 0;
  padding: 0;
}

/* <!--===> Navigation Bar <===--> */
nav {
  background-color: rgb(255, 113, 113);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0px;
  width: auto;
}
nav .navBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  /* border: 2px solid red; */
}
nav .navBox li {
  list-style: none;
}

nav .navBox li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

nav .menu-bar {
  height: 2.5rem;
}
nav .menu-bar img {
  height: 100%;
}

/* <!--===> landing page<===--> */

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    rgb(255, 247, 173),
    rgb(255, 176, 242)
  );
  /* border: 2px solid red; */
}

.landing .landingChild1 {
  flex: 1;
  text-align: left;
}

.landing .landingChild1 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 60px;
  margin-left: 60px;
}

.landing .landingChild1 p {
  font-size: 1.2rem;
  margin-left: 60px;
  margin-bottom: 100px;
  width: 80vh;
}

.landing .landingChild1 button {
  margin-left: 60px;
  background-color: rgb(255, 113, 113);
  color: white;
  border: none;
  padding: 15px 60px;
  font-size: 0.9rem;
  cursor: pointer;
}

.landing .landingChild2 {
  flex: 1;
  overflow: hidden;
}

.landing .landingChild2 img {
  width: 160%;
  transform: translateX(-250px);
}
